@font-face {
  font-family: 'icoVibbe';
  src:  url('fonts/icoVibbe.eot?gy1gzv');
  src:  url('fonts/icoVibbe.eot?gy1gzv#iefix') format('embedded-opentype'),
    url('fonts/icoVibbe.ttf?gy1gzv') format('truetype'),
    url('fonts/icoVibbe.woff?gy1gzv') format('woff'),
    url('fonts/icoVibbe.svg?gy1gzv#icoVibbe') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoVibbe' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-globo:before {
  content: "\e91f";
}
.icon-historico:before {
  content: "\e923";
}
.icon-mascarilla-medica:before {
  content: "\e920";
}
.icon-mascara-medica:before {
  content: "\e922";
}
.icon-critico:before {
  content: "\e93e";
}
.icon-lapida:before {
  content: "\e94e";
}
.icon-filtro:before {
  content: "\e91c";
}
.icon-copy:before {
  content: "\e91d";
}
.icon-clasificacion:before {
  content: "\e91e";
}
.icon-bacterias:before {
  content: "\e91a";
}
.icon-muerto:before {
  content: "\e91b";
}
.icon-basura:before {
  content: "\e919";
}
.icon-checked:before {
  content: "\e917";
}
.icon-proteger:before {
  content: "\e918";
}
.icon-logout:before {
  content: "\e914";
}
.icon-grafico:before {
  content: "\e915";
}
.icon-izquierda:before {
  content: "\e916";
}
.icon-boligrafo:before {
  content: "\e912";
}
.icon-pintar:before {
  content: "\e913";
}
.icon-config:before {
  content: "\e900";
}
.icon-api:before {
  content: "\e901";
}
.icon-bandera:before {
  content: "\e902";
}
.icon-dev:before {
  content: "\e903";
}
.icon-share:before {
  content: "\e904";
}
.icon-corazon:before {
  content: "\e905";
}
.icon-team:before {
  content: "\e906";
}
.icon-team1:before {
  content: "\e907";
}
.icon-github:before {
  content: "\e908";
}
.icon-gps:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-linkedin:before {
  content: "\e90c";
}
.icon-mobile:before {
  content: "\e90d";
}
.icon-usuario:before {
  content: "\e90e";
}
.icon-about:before {
  content: "\e90f";
}
.icon-star:before {
  content: "\e910";
}
.icon-comment:before {
  content: "\e911";
}
