.About {
  &__header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-lineal);
  }

  &__footer {
    width: 100%;
    height: auto;
    padding-top: 8px;

    ul {
      list-style: none;
      font-family: var(--font-subtitle);

      li {
        padding: 0.8em 1.5em;
        display: flex;
        align-items: center;
        font-size: 1.125em;
        font-family: var(--font-subtitle) !important;
      }
      li:before {
        margin-right: 1em;
        font-size: 1.25em;
        color: var(--color-third);
        font-family: "icoVibbe" !important;
      }
    }

    .pruevita {
      background-color: red;
    }
  }
}
