.stat-table {
  width: inherit;
  height: inherit;

  .th_list {
    .th_item {
      font-family: var(--font-subtitle);
      font-size: 13px;
      font-weight: 500;
      color: var(--color-third);
      text-align: left;
      padding: 1em 0.5em;
    }
  }

  .tb_list {
    .tb_item {
      font-family: var(--font-subtitle);
      font-size: 14px;
      font-weight: normal;
      color: var(--color-standar);
      padding: 0.6em 0.5em;
      border-top: 1px solid #e8eaed;

      div {
        display: flex;
        align-items: center;

        img {
          width: 25px;
          height: 15px;
          border: 1px solid rgba(0, 0, 0, 0.3);
        }
        span {
          padding-left: 6px;
        }
      }
    }
  }
  .tb-right {
    text-align: right !important;
  }
}

@media screen and (min-width: 768px) {
  .stat-table {
    .th_list {
      .th_item {
        font-size: 1em;
        padding: 1em 0.6em;
      }
    }
    .tb_list {
      .tb_item {
        font-size: 15px;
        padding: 0.8em 0.6em;
        div {
          img {
            width: 28px;
            height: 18px;
          }
        }
      }
    }
  }
}
